<p>opening-training-list works!</p>
<div>
  <table width="100%">
    <thead>
      <tr>
        <th class="cell-header">id</th>
        <th class="cell-header">date</th>
        <th class="cell-header">score</th>
        <th class="cell-header">opening</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; index as i">
        <td class="cell">{{item.id}}</td>
        <td class="cell">{{item.date_created | dateTimeFormat }}</td>
        <td class="cell">{{item.score}}</td>
        <td class="cell">{{item.opening_tree | openingNameFormat}}</td>
        <td class="cell">
          <button routerLink="/trainings/{{item.id}}">Edit</button>
          <button (click)="deleteItem(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button routerLink="/trainings/add">New</button>
</div>
